# editors
.vscode
*.swp
*~
.idea

# python
.venv

# build
**/build*
**/twister-out*
**/.west
deps/
__pycache__/

# docs
/doc/_build*

# misc
.directory

# KI-CAD
**/*-backups*/
*.lck
*.kicad_prl
*.xml
*.csv
*.net
fp-info-cache
_autosave-*
\#auto_saved_files\#
