/*
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/g4/stm32g474Xe.dtsi>
#include <st/g4/stm32g474q(b-c-e)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Solderotto board";
	compatible = "st,solderotto";

	chosen {
		zephyr,console = &rtt0;
		zephyr,shell-uart = &rtt0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	rtt0: rtt_chan0 {
		compatible = "segger,rtt-uart";
		status = "okay";
	};

	load0: load_0 {
		compatible = "power-switch";
		gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
	};

	load1: load_1 {
		compatible = "power-switch";
		gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
	};

	debug {
		compatible = "gpio-leds";

		dbg0: dbg_0 {
			gpios = <&gpioc 9 GPIO_OPEN_DRAIN>;
		};

		dbg1: dbg_1 {
			gpios = <&gpioc 8 GPIO_OPEN_DRAIN>;
		};

		dbg2: dbg_2 {
			gpios = <&gpioc 7 GPIO_OPEN_DRAIN>;
		};

		dbg3: dbg_3 {
			gpios = <&gpioc 6 GPIO_OPEN_DRAIN>;
		};
	};

	channel_out {
		compatible = "gpio-leds";

		sel1a: sel_1a {
			gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
		};

		sel2a: sel_2a {
			gpios = <&gpiob 6 GPIO_ACTIVE_HIGH>;
		};

		sel1b: sel_1b {
			gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
		};

		sel2b: sel_2b {
			gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
		};
	};

	buttons {
		compatible = "gpio-keys";

		zcd0: zcd_0 {
			gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
			label = "zcd";
		};
	};

	aliases {
		volt-sensor0 = &vref;
		volt-sensor1 = &vbat;
		ch0-sel-1a = &sel1a;
		ch0-sel-2a = &sel2a;
		ch0-sel-1b = &sel1b;
		ch0-sel-2b = &sel2b;
		ch0-load-a = &load0;
		ch0-load-b = &load1;
		zcd = &zcd0;
		dbg-0 = &dbg0;
		dbg-1 = &dbg1;
		dbg-2 = &dbg2;
		dbg-3 = &dbg3;
	};

	soc {
		quadspi: quadspi@a0001000 {
			compatible = "st,stm32-qspi";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0xa0001000 0x400>, <0x90000000 DT_SIZE_M(256)>;
			interrupts = <95 0>;
			clocks = <&rcc STM32_CLOCK(AHB3, 8U)>;

			status = "disabled";
		};
	};

	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc1 1>, <&adc1 2>, <&adc1 7>, <&adc1 8>, <&adc1 9>, <&adc4 3>, <&adc4 4>;
		io-channel-names = "ch0-handle", "ch0-leak", "ch0-load", "ch0-tipa", "ch0-tipb", "t-amb", "v-ana";
	};
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(34)>;
		};

		slot0_partition: partition@8800 {
			label = "image-0";
			reg = <0x00008800 DT_SIZE_K(462)>;
		};

		scratch_partition: partition@7C000 {
			label = "image-scratch";
			reg = <0x0007c000 DT_SIZE_K(16)>;
		};
	};
};

&quadspi {
	pinctrl-0 = <&quadspi1_clk_pb10 &quadspi1_bk1_ncs_pb11
				 &quadspi1_bk1_io0_pb1 &quadspi1_bk1_io1_pb0
				 &quadspi1_bk1_io2_pa7 &quadspi1_bk1_io3_pa6>;
	pinctrl-names = "default";

	flash-id = <1>;
	status = "okay";

	mx25r3235: qspi-nor-flash@0 {
		compatible = "st,stm32-qspi-nor";
		reg = <0>;
		size = <DT_SIZE_M(32)>; /* 32 Mbits */
		qspi-max-frequency = <8000000>;
		spi-bus-width = <4>;
		jedec-id = [c2 28 16];

		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <0>;

			slot1_partition: partition@0 {
				label = "image-1";
				reg = <0x00000000 DT_SIZE_K(462)>;
			};
			storage: partition@73800 {
				label = "storage_ext";
				reg = <0x00073800 DT_SIZE_K(3634)>;
			};
		};
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&pll {
	div-m = <1>;
	mul-n = <20>;
	div-p = <2>;
	div-q = <8>;
	div-r = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(160)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	stop-bits = "1";
	data-bits = <8>;
	status = "okay";
};

&iwdg {
	status = "okay";
};

&rng {
	status = "okay";
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&adc1_in1_pa0 &adc1_in2_pa1 &adc1_in7_pc1 &adc1_in8_pc2 &adc1_in9_pc3>;
	pinctrl-names = "default";
	st,adc-clock-source = "SYNC";
	st,adc-prescaler = <4>;
	status = "okay";

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@8 {
		reg = <8>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <5>;
	};

	channel@9 {
		reg = <9>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <5>;
	};
};

&adc4 {
	pinctrl-0 = <&adc4_in3_pb12 &adc4_in4_pb14>;
	pinctrl-names = "default";
	st,adc-clock-source = "SYNC";
	st,adc-prescaler = <4>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;


	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&vref {
	status = "okay";
};

&vbat {
	status = "okay";
};

&spi3 {
	pinctrl-0 = <&spi3_nss_pa15 &spi3_sck_pc10 &spi3_miso_pc11 &spi3_mosi_pc12>;
	pinctrl-names = "default";

	status = "okay";

	dmas = <&dma1 4 15 STM32_DMA_PERIPH_TX
			&dma1 5 14 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";

	bt81x: bt81x@0 {
		compatible = "bt81x";

		reg = <0x0>;
		spi-max-frequency = <30000000>;
		irq-gpios = <&gpiod 2 GPIO_ACTIVE_LOW>;

		hsize = <800>;
		vsize = <480>;
		hcycle = <816>;
		hoffset = <8>;
		hsync0 = <0>;
		hsync1 = <4>;
		vcycle = <496>;
		voffset = <8>;
		vsync0 = <0>;
		vsync1 = <4>;
		pclk = <1>;
		swizzle = <0>;
		pclk_pol = <1>;
		cspread = <0>;
		dither = <0>;
		pclk_freq = <3348>;
		pclk_2x = <0>;

		status = "okay";
	};
};

&usb {
	status = "okay";
};